version: "3.7"

services:
  mlflow-pgres:
    image: postgres:10.5
    container_name: mlflow-pgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${ML_FLOW_PGRES_USER} 
      POSTGRES_PASSWORD: ${ML_FLOW_PGRES_PASSWORD} 
      POSTGRES_DB: ${ML_FLOW_PGRES_DB} 
      POSTGRES_INITDB_ARGS: ${ML_FLOW_PGRES_INITDB_ARGS} 
    hostname: mlflow-pgres
    restart: always
    networks:
      - ml_platform

  mlflow-tracker:
    container_name: mlflow_server
    depends_on:
      - mlflow-pgres
    image: mlflow_tracker_server
    build:
      context: ./mlflow_tracker
      dockerfile: Dockerfile
    ports:
      - "5005:5000"
    environment:
      DB_URI: ${MFLOW_DB_URI}
      MLFLOW_TRACKING_URI: ${MFLOW_TRACKER_URI}
      AWS_ACCESS_KEY_ID: ${MINIO_ACCESS_KEY}
      AWS_SECRET_ACCESS_KEY: ${MINIO_SECRET_KEY}
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
    networks:
      - ml_platform
  
networks:
  ml_platform:
    external: true
      